@{
    ViewBag.Title = "About";
}
<h2>About</h2>
<p>With ever rising fuel prices and increased traffic on our roads, the co-mute project was started in an effort to help alleviate some of these pressures. Car-pooling can cut on travelling and vehicle maintenance costs. It also enables more effective use of commuters’ time, as time spent driving could be spent more productively.</p>
