@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form id="login">
            <h2 class="text-center">Sign In</h2>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <button class="btn btn-primary btn-block" type="submit" id="sign-in">Sign in</button>
        </form>
    </div>
</div>

<div id="error" class="row row-margin hidden">
    <div class="col-md-4 col-md-offset-4 alert alert-danger">
        <p></p>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/Content/js/login.js"></script>
}