@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@{
    Layout = null;
}

@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers

@*@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="favicon.jpg">
    <title>@ViewData["Title"] - Co_Mute</title>
    <!-- Custom CSS -->


    <link href="~/assets/libs/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/dist/css/style.min.css" rel="stylesheet">

    <link href="~/assets/libs/toastr/build/toastr.min.css" rel="stylesheet">


</head>
<body>

    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div id="main-wrapper">

        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <div class="navbar-header">

                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>

                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <b class="logo-icon">
                            <img style="max-height: 55px" src="~/images/smart-e_Logo.jpg" />
                        </b>
                    </a>

                </div>

                <div class="navbar-collapse collapse" id="navbarSupportedContent">


                    <ul class="navbar-nav float-left mr-auto">


                        <li class="nav-item  mega-dropdown">


                                <a class="nav-link dropdown-toggle waves-effect waves-dark"  aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-home font-20"></i>
                                </a>
                        

                        </li>

                    </ul>
                </div>
            </nav>
        </header>

 

        <div class="page-wrapper">
            <div class="card-body">
                
                <div>
                    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
                    <!-- Bootstrap tether Core JavaScript -->
                    <script src="~/assets/libs/popper.js/dist/umd/popper.min.js"></script>

                    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
                    <!-- apps -->
                    <script src="~/dist/js/app.min.js"></script>


                    <script src="~/dist/js/app.init.overlay.js"></script>
                    @*<script src="~/dist/js/app.init.js"></script>*@
                    @*<script src="~/dist/js/app.init.dark.js"></script>*@

                    <script src="~/dist/js/app-style-switcher.js"></script>
                    <!-- slimscrollbar scrollbar JavaScript -->
                    <script src="~/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>

                    <script src="~/assets/extra-libs/sparkline/sparkline.js"></script>

                    <!--Wave Effects -->
                    <script src="~/dist/js/waves.js"></script>

                    <!--Menu sidebar -->
                    <script src="~/dist/js/sidebarmenu.js"></script>

                    <!--Custom JavaScript -->
                    <script src="~/dist/js/custom.min.js"></script>

                    <!--This page JavaScript -->
                    <script src="~/assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>

                    <script src="~/assets/libs/magnific-popup/meg.init.js"></script>

                    <script src="~/assets/libs/toastr/build/toastr.min.js"></script>

                    <script src="~/assets/extra-libs/toastr/toastr-init.js"></script>

                    <script src="~/js/site.js" asp-append-version="true"></script>
                </div>

                @RenderBody()
            </div>
           

        </div>
        

        <!-- ============================================================== -->
        <!-- All Jquery -->
        <!-- ============================================================== -->


      
        <script>

        $(document).ready(function() {


        });

        function configuration() {

        }
        </script>

        @RenderSection("Scripts", required: false)

    </div>
</body>

</html>






