@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Options


<head>
    <link rel="stylesheet" href=
          "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
    </link>
</head>

<li class="nav-small-cap">
    <i class="mdi mdi-dots-horizontal"></i>
    <span class="hide-menu">My Space</span>
</li>



<li class="sidebar-item">
    <a asp-controller="Home" asp-action="All" class="sidebar-link">
        <i class="fa fa-list"></i>
        <span class="hide-menu">All Opportunities</span>
    </a>
</li>
    
<li class="nav-small-cap">
    <i class="mdi mdi-dots-horizontal"></i>
    <span class="hide-menu">My Account</span>
</li>
<li class="sidebar-item">
    <a asp-controller="Home" asp-action="AllOpportunities" class="sidebar-link">
        <i class="icon-Home-2"></i>
        <span class="hide-menu">All My Created Opportunities</span>
    </a>
</li>

    <li class="sidebar-item">
        <a asp-controller="Home" asp-action="MyJoinedOpportunities" class="sidebar-link">
            <i class="fa fa-car"></i>
            <span class="hide-menu">My Joined Opportunities</span>
        </a>
    </li>

    
   


















