@model CoMute.UI.Models.Tokens.TokenRequestModel
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/css/Account.css">
    <script type="text/javascript">
        function openSuccessModal(message) {
            var myDiv = document.getElementById("#successBody");
            myDiv.innerHTML = message;
            $("#successModal").modal('show');
        }

        $(document).ready(function () {
            var msg = @TempData["Registermessage"];

            if (msg)
                openSuccessModal(msg);
        });
    </script>
</head>
<div class="login-box">
    @if (TempData["Registermessage"] != null)
    {
        <div id="box" class="alert alert-success" style="text-align: center;color:white;background-color:green">
            <strong>You have registered successfully</strong>
            <span />
        </div>
    }
    @if (TempData["RegisterFailed"] != null)
    {
        <div id="box" class="alert alert-danger" style="text-align: center;color:white;background-color:red">
            <strong>Login Failed</strong>
            <span />
        </div>
    }
    <script>
        setTimeout(() => {
            const box = document.getElementById('box');

            // 👇️ removes element from DOM
            box.style.display = 'none';

            // 👇️ hides element (still takes up space on page)
            // box.style.visibility = 'hidden';
        }, 3000); //
    </script>
    <h2>Co-Mute Login</h2>
    <form asp-action="LoginRequest" asp-controller="Account">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="user-box form-group">
            <input type="email" asp-for="Email" required="required">
            <label asp-for="Email">Email</label>
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="user-box form-group">
            <input type="password" asp-for="Password" required="required">
            <label asp-for="Password">Password</label>
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        @*<a id="submit_link">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Login
            </a>*@
        <div class="row">
            <div class="col" style="float: left; width: 65%; padding-right: 15%">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
            <div class="col" style="float:right;">
                <a asp-action="Register" asp-controller="Account">Sign Up?</a>
            </div>
        </div>
        <div>@ViewBag.message</div>
    </form>
</div>
@section Scripts{

}