
@{
    Layout = null;
}
@*<h1>Login Page - to Log a user into CoMute app</h1>
<h2>This will be binded to the login model using razor and will connect to a login controller method that will send a request to the login API endPoint <br />
    once logged in the user will go onto their home oage with thre profile, and list of Car pool opportunities</h2>*@