@{
    ViewData["Title"] = "Access denied";
}

<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>

</head>

<body>

<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
    

<div class="container-fluid">
    <div>
        <h1 class="text-center" style="color: rgb(83, 82, 82); font-size: 50px; margin-top: 100px;">Access Denied</h1>
    </div>
    <div style="width: 100%; margin-top: 20px; margin-bottom: auto;" class="center">
        <img style="width: 15%; margin-left: auto; margin-right: auto; display: block; margin-top: auto; margin-bottom: auto;" class="center" src="~/assets/images/access_denied_256.png"/>
    </div>

</div>

</body>

</html>