@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Co_Mute.Models.AdministrationViewModels.ResetPasswordViewModel
@{
    Layout = null;
    ViewData["Title"] = "Reset password";
}



<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <title>Reset Password</title>
    <!-- Custom CSS -->
    
    @*<link rel="icon" type="image/png" sizes="16x16" href="@((await ApplicationSettings.CompanyEmblemAsync() != "") ? $"{Url.Action("Emblem", "Logos")}?emblemFileName={await ApplicationSettings.CompanyEmblemAsync()}" : "/Assets/Techla/128TechlaCircle.png")">
    *@
    <link href="~/dist/css/style.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.0/particles.min.js"></script>


    <style type="text/css">
        html, body {
            height: auto
        }

        body {
            background-color: #f9f9f9;
        }

        h1 {
            text-align: center;
        }

        .background {
            position: absolute;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
        }
    </style>
</head>

<body>
<div class="main-wrapper">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Login box.scss -->
    <!-- ============================================================== -->
    @*style="background-image: url('@Url.Content("~/images/login_background.jpg")'); background-size: cover; background-repeat: no-repeat; background-position: center;"*@
    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center">
        <div class="auth-box" style="background-color: rgba(65, 65, 65, 0.7);">
            <div id="loginform" class="pt-5" style="background-color: rgba(255, 255, 255, 0.0);">
                <div class="logo">
                    <span class="db">
                        @*<img src="@((await ApplicationSettings.CompanyLogoAsync() != "") ? $"{Url.Action("Logo", "Logos")}?logoFileName={await ApplicationSettings.CompanyLogoAsync()}" : "/Assets/Techla/Techla-horizontal.svg")" style="border: none; max-height: 120px;">
                    *@</span>
                    <h5 class="font-medium m-b-20 pt-3 text-light">Reset Password</h5>
                </div>
                <!-- Form -->
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <h5 style="color: rgb(85, 142, 244);">Password Rules</h5>
                                <p style="margin-left: 20px; width: 100%; font-size: 11px; color: white;">

                                    - at least one non alphanumeric character.<br/>

                                    - at least one lowercase ('a'-'z').<br/>

                                    - at least one uppercase ('A'-'Z').<br/>

                                    - at least a length of 8 characters.<br/>
                                </p>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <input asp-for="Code" type="hidden"/>
                                    <div class="input-group mb-3" hidden="hidden">

                                        <input asp-for="Email" type="text" autocomplete="false" class="form-control text-dark" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"/>
                                        <span asp-validation-for="Email" class="text-danger"></span>

                                    </div>
                                    <div class="input-group mb-3">

                                        <input asp-for="Password" type="password" class="form-control" placeholder="Password" aria-label="Password"/>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                        @*<input type="text" class="form-control form-control-lg" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">*@
                                    </div>
                                    <div class="input-group mb-5">

                                        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" aria-label="Password"/>
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        @*<input type="text" class="form-control form-control-lg" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">*@
                                    </div>
                                    <button type="submit" class="btn btn-block btn-lg btn-outline-info" style="margin-top: 5px;">Reset</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>
    @*<canvas class="background" style="background-image: url('@Url.Content("~/images/login_background.jpg")'); background-size: cover; background-repeat: no-repeat; background-position: center;"></canvas>*@
    <canvas class="background" style="background-color:rgb(58, 57, 57)"></canvas>
</div>


@await Html.PartialAsync("_ValidationScriptsPartial")


<script type="text/javascript">
        window.onload = function () {
            var particles = Particles.init({
                selector: '.background',
                color: ['#DA0463', '#404B69', '#DBEDF3', '#FFFFFF'],
                connectParticles: true,
                maxParticles: 100,
                speed: 0.5,
                number: 60

            });

        };
    </script>
<!-- ============================================================== -->
<!-- All Required js -->
<!-- ============================================================== -->
<script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="~/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="~/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- ============================================================== -->
<!-- This page plugin js -->
<!-- ============================================================== -->

<script>
        $('[data-toggle="tooltip"]').tooltip();
        $(".preloader").fadeOut();

        $('#to-recover').on("click", function () {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });

        $('#btnCancelReset').on("click", function () {
            $("#loginform").slideDown();
            $("#recoverform").fadeOut();
        });

    </script>


</body>

</html>