[submodule "car-pool-lambda-function"]
	path = car-pool-lambda-function
	url = /home/dancan/IdeaProjects/car-pool-lambda-function
[submodule "co-mute"]
	path = co-mute
	url = /home/dancan/ReactjsProjects/SayuriaiApplications/ClientProjects/co-mute
