USE [master]
GO
/****** Object:  Database [FullStackDB]    Script Date: 2022/07/24 23:03:22 ******/
CREATE DATABASE [FullStackDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FullStackDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FullStackDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FullStackDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FullStackDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FullStackDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FullStackDB]
GO
/****** Object:  Table [dbo].[Car_Pool]    Script Date: 2022/07/24 23:03:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car_Pool](
	[Car_Pool_ID] [int] IDENTITY(1,1) NOT NULL,
	[Departure_Time] [time](0) NOT NULL,
	[Expected_Arrival_Time] [time](0) NOT NULL,
	[Origin] [varchar](50) NOT NULL,
	[Days_Available] [varchar](250) NOT NULL,
	[Destination] [varchar](50) NOT NULL,
	[Available_Seats] [int] NOT NULL,
	[User_ID] [int] NOT NULL,
	[Notes] [varchar](250) NULL,
 CONSTRAINT [PK_Car_Pool] PRIMARY KEY CLUSTERED 
(
	[Car_Pool_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Joined_Car_Pool]    Script Date: 2022/07/24 23:03:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Joined_Car_Pool](
	[Joined_Car_Pool_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NULL,
	[Car_Pool_ID] [int] NULL,
	[Date_Joined] [date] NULL,
	[Departure_Time] [time](0) NULL,
	[Expected_Arrival_Time] [time](0) NULL,
 CONSTRAINT [PK_Joined_Car_Pool] PRIMARY KEY CLUSTERED 
(
	[Joined_Car_Pool_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2022/07/24 23:03:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Surname] [varchar](50) NOT NULL,
	[Phone] [varchar](50) NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Car_Pool]  WITH CHECK ADD  CONSTRAINT [FK_Car_Pool_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Car_Pool] CHECK CONSTRAINT [FK_Car_Pool_User]
GO
ALTER TABLE [dbo].[Joined_Car_Pool]  WITH CHECK ADD  CONSTRAINT [FK_Joined_Car_Pool_Car_Pool] FOREIGN KEY([Car_Pool_ID])
REFERENCES [dbo].[Car_Pool] ([Car_Pool_ID])
GO
ALTER TABLE [dbo].[Joined_Car_Pool] CHECK CONSTRAINT [FK_Joined_Car_Pool_Car_Pool]
GO
ALTER TABLE [dbo].[Joined_Car_Pool]  WITH CHECK ADD  CONSTRAINT [FK_Joined_Car_Pool_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Joined_Car_Pool] CHECK CONSTRAINT [FK_Joined_Car_Pool_User]
GO
USE [master]
GO
