<div class="d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-12 col-md-offset-4">
            <form [formGroup]="loginForm" id="login">
                <h2 class="text-center mb-4">Sign In</h2>
                <input formControlName="email" type="email" id="inputEmail" class="form-control mb-2" placeholder="Email address" required autofocus>
                <input  formControlName="password" type="password" id="inputPassword" class="form-control mb-2" placeholder="Password" required>
                <button (click)="login_async()" class="btn btn-primary btn-block w-100" type="submit" id="sign-in">Sign in</button>
            </form>
        </div>
    </div>
</div>


<div *ngIf="loginError && !loginError?.includes('not found')"  id="error" class="row row-margin hidden w-100 m-auto mt-4">
    <div class="col-12 alert alert-danger">
        <p>{{loginError}}</p>
    </div>
</div>

<div *ngIf="loginError?.includes('not found')"  id="error" class="row row-margin hidden w-100 m-auto mt-4">
    <div class="col-12 alert alert-danger d-flex justify-content-center align-content-center">
        <p>{{loginError}} - <a routerLink="/register">Register a new account</a></p>
    </div>
</div>