.FindContainer
{
    flex:1;
    display:flex;
    padding: 1em;
    flex-direction: row;

    ::-webkit-scrollbar {
        width: 4px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }
    

    ::-webkit-scrollbar-thumb {
        background: rgba(127, 219, 157, 0.445);
        border-radius: 10px;
    }

    .searchArea{
        flex:1;
        display: flex;
        flex-direction: row;
        justify-self: center;
        align-self: center;

        justify-content: space-between;

        .searchBox{
            display: flex;
            width: 85%;
            justify-content: end;

            .search
            {
                border: none;
                border-bottom: 1px solid rgba(29, 28, 28, 0.747);
                border-radius: 2px;
                padding-left: 10px;
             
            }

            button{
                border-radius: 25px;
                border: none;
                background-color:rgba(127, 219, 157, 0.445);
                width: 5%;
                font-weight: 600;
                justify-self: center;
            }
        }
    }
}