@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Car Pool Application</h1>
    <p class="lead"> Car Pool  is an application that offers you a commuter experince with preference of who you want to travel with.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    <div class="row">
        <div class="col-md-2">
            <p><a class="btn btn-success" href="/SignIn/Index"> Sign In &raquo;</a></p>
        </div>
        <div class="col-md-2">
          <p><a class="btn btn-primary" href="/CreateCarPoolUser/Create">Sign Up &raquo;</a></p>
        </div>
    </div>
     </div>
  
