@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor accessor;
@using Newtonsoft.Json;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoMute.UI</title>
    @*<link rel="stylesheet" href="~/css/Account.css">*@
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/iconmoon.css">

    <link rel="stylesheet" href="~/css/owl.carousal.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/demoBootstrap.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/css/Table.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 background">
            <div class="container">
                <a class="navbar-brand " style="float:left" asp-area="" asp-controller="Home" asp-action="Index">CO-MUTE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (accessor.HttpContext.Session.GetString("Roles") != null && accessor.HttpContext.Session.GetString("Roles") != "")
                        {
                            var roles = accessor.HttpContext.Session.GetString("Roles");
                            var roleData = JsonConvert.DeserializeObject<List<string>>(roles);
                            foreach (var r in roleData)
                            {
                                if (r.ToString().ToLower().Contains("Lead".ToLower()) || r.ToString().ToLower().Contains("LeadUser".ToLower()))
                                {
                                    <li class="nav-item" style="width:100%">
                                        <a class="nav-link" style="width: 100%" asp-area="" asp-controller="Opportunity" asp-action="RegisterOpportunity">Register Opportunity</a>
                                    </li>
                                    break;
                                }
                            }
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Opportunity" asp-action="CarPoolOpportunity">Car-Pool</a>
                        </li>
                        <li class="nav-item" style="padding-left:75%;width:100%">
                            @if (accessor.HttpContext.Session.GetString("Email") != null && accessor.HttpContext.Session.GetString("Email") != "")
                            {
                                <a class="nav-link" style="width:100%" asp-controller="Account" asp-action="Profile" asp-route-id="@accessor.HttpContext.Session.GetString("UserId")">
                                    Welcome @accessor.HttpContext.Session.GetString("Email")
                                </a>
                            }
                        </li>
                    </ul>
                            </div>
                        </div>
                    </nav>
                </header>
                <div class="container">
                    <main role = "main" class="pb-3">

                        <!--Success Dialog-->
                        <div id = "successModal" class="modal fade" role="dialog">
                            <div class="modal-dialog" >
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2>Register</h2>
                                        <button class="close" type="button" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div id = "successBody" class="modal-body alert alert-success">
                                        User Registration Successful :)
</div>
                        <div class="modal-footer">
                            &nbsp;
                            <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - CoMute.UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
