<app-navbar></app-navbar>
<div>
    <br>
    <h1>Car Pool Opportunities</h1>
    <br>



    <div fxLayout fxLayoutAlign="center center">

        <input class="form-control" matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="search..."
            style="background-color: white; width: 30%; border-radius: 25px;" >

    </div><br>

    <table mat-table [dataSource]="dataSource" matSort>
        
        <ng-container matColumnDef="Origin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Origin</th>
            <td mat-cell *matCellDef="let element"> {{element.Origin}} </td>
        </ng-container>
        <ng-container matColumnDef="Destination">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Destination </th>
            <td mat-cell *matCellDef="let element"> {{element.Destination}} </td>
        </ng-container>
        <ng-container matColumnDef="Departure Time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Departure Time </th>
            <td mat-cell *matCellDef="let element"> {{element.Departure_Time}} </td>
        </ng-container>
        <ng-container matColumnDef="Arrival Time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Arrival Time </th>
            <td mat-cell *matCellDef="let element"> {{element.Expected_Arrival_Time}} </td>
        </ng-container>
        <ng-container matColumnDef="Days">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Days </th>
            <td mat-cell *matCellDef="let element"> {{element.Days_Available}} </td>
        </ng-container>
        <ng-container matColumnDef="Available Seats">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Available Seats</th>
            <td mat-cell *matCellDef="let element"> {{element.Available_Seats}} </td>
        </ng-container>
        <ng-container matColumnDef="Owner/Leader">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner</th>
            <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
        </ng-container>
        <ng-container matColumnDef="Notes">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Notes</th>
            <td mat-cell *matCellDef="let element"> {{element.Notes}} </td>
        </ng-container>

        <ng-container matColumnDef="Join">
            <th mat-header-cell *matHeaderCellDef> Join </th>
            <td mat-cell *matCellDef="let element">
                <button class="btn btn-info btn-sm" color="accent" (click)="getCarPoolID(element.Car_Pool_ID, element.Departure_Time, element.Expected_Arrival_Time)" data-toggle="modal" data-target="#myModal">
                 Join
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>



<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog " >

        <!-- Modal content-->
      
        <div class="modal-content">
            <div class="modal-header" style="background-color: rgba(45,47,143,255); color: white;">
                <h4 class="col-12 modal-title">Join Car Pool</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
           
            <div class="modal-body" >

                <h6>Are you sure you want to join this Car Pool?</h6>

            </div>
            <div class="modal-footer" >
                <button (click)="joinCarPool()"  class="btn btn-success addButton" data-dismiss="modal">I'm Sure</button>
                <button type="button" class="btn btn-outline-dark"
                    data-dismiss="modal">Cancel</button>
            </div>
        </div>


    </div>
</div>