@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization
@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout";
}
<h1><u>Privacy Policy</u></h1>

<h3>Privacy Link</h3>
<p>We are serious about protecting your personal information and privacy. The purpose of this Privacy Policy is to explain what kind of information we are collecting and how that personal information is being processed and treated by Co_Mute. This Privacy Policy applies to personal information collected on our Website www.smartdigialmedia.com as well as all other personal information acquired through communicating or interacting with Co_Mute.
</p>
<h3>Collection of Information</h3>
<p>
When you interact with Co_Mute, we collect certain Personal Information in accordance with the Protection of Personal Information Act 4 of 2013 (“POPIA”), the Electronic Communications and Transactions Act 25 of 2002 (“ECTA”), the Promotion of Access to Information Act 2 of 2000 (“PAIA”) and any other relevant legislation. You also have access to certain information held by Co_Mute in terms of both POPIA and PAIA. You can access our PAIA/POPI manual on this page.
</p>
<h3>Who you are providing your information to? </h3>
<p>When we refer to “us”, “we”, “our” or “Co_Mute” we are of course talking about the legal entity that you will be sharing your information with, including our members and employees, and our details are as follows:</p>
<h6><b>Name:</b>  Co_Mute</h6><p></p>
<h3>What information we collect </h3>
The information that we collect may include your:
<ul>
    <li>full name;</li>
    <li>Contact information</li>
    <li>ID or passport number;</li>
    <li>Nationality</li>
    <li>Street and Postal Address</li>
    <li>Security footage</li>
    <li>Any previous interactions with Co_Mute</li>
    <li>How we collect this information</li>
</ul>
<h3>We can collect your personal information in a number of ways, which we outline below...</h3>
<ol>
    <li><u>Via our Website:</u></li>
If you complete and return any of the documents on our website.

<li><u>When you call us:</u></li>
We collect basic personal information when you call us to make an inquiry or place an order. This is limited to the information that you provide to us over the phone.
</ol> <p></p>
<h3>Why we collect this information and how we use it</h3>
<p>When you provide us with your personal information, we may use this information in some of the following ways:</p>
<ol>
    <li>To allow you to open an account with us;</li>
    <li>To place an order for you;</li>
    <li>To send/deliver stock to you;</li>
    <li>To communicate with you to check whether you need an order, or to follow up on stock delivered and required;</li>
    <li>To provide information to you regarding the services we offer;</li>
    <li>To improve our services to you;</li>
    <li>To otherwise generally render the services that are necessary to operate the business and to provide you with the services advertised on our Website.</li>
</ol>  <p></p>
<h3>Who we share your information with</h3><p>
We are not in the business of selling information and we will never share your personal information with anyone except as contained in this Privacy Policy. Sometimes we provide our services by using approved suppliers, agents, or contractors, and personal data may be shared with them should they require it in order to honor the contracts and transactions that you choose to enter into with us (for example Courier Companies to deliver to you). These suppliers, agents, or contractors have agreed to keep your information secure and confidential and to only use it for the purposes for which this information was originally collected. </p>
<p>
When entering into a contract or transaction with Co_Mute in terms of which we are to provide goods or services to you, and unless you specifically object to this, you give express permission to Co_Mute and approved suppliers, agents, or contractors to use your Personal Information for the purposes above.
</p> <p></p>
<h3>Protection of your information</h3>
<h6>How we protect your personal information</h6><br/>
<p>We take all commercially viable steps to protect your personal information against unlawful access and we comply with the lawful processing requirements under POPIA and other legislation. To help us achieve this, we have multiple safeguards in place to protect your personal information from unauthorized access, loss, or destruction. That said, no system is impenetrable and while we do our utmost to protect your personal information, we cannot guarantee this information to be safe from access, destruction, or alteration as a result of a breach of any of our safeguards. It is also important to note that communication over the internet can be intercepted and the internet is not a secure medium. Communications made via email can be forged or intercepted.
</p>
<p>Co_Mute does not take responsibility for any damages that you or a Third Party may suffer in consequence of the transmission of information that you make available to us through the internet, or that you authorize Co_Mute to make. We also do not take responsibility for any errors or changes made to the information supplied to us.
</p><p>We will notify you in the event of a data breach
Should we experience a data breach where your personal information has been accessed, destroyed, altered, or in any other way affected, we will notify you immediately of any such breach based on the most up-to-date contact information that you have provided us.
</p>
<h3>Your rights under POPIA</h3>
<p>Under POPIA, one of your core rights is to be able to participate in the processing of your information, which means that you have a right of access to the information we hold about you and this information can be accessed upon request to Co_Mute. You are able to:
</p>
<ol>
    <li>Request whether we hold information about you;</li>
    <li>Request what kind of personal information we hold about you;</li>
    <li>Request the amendment of your personal information;</li>
    <li>Request the deletion of your personal information;</li>
    <li>Opt-out of marketing communications (e.g. email newsletters);</li>
    <li>Object to the processing of your personal information.</li>
</ol>
<p>Should you wish to exercise any of your rights under POPIA, please contact us (using the details and forms below) and we will get back to you as soon as possible. Please note that your above rights are subject to a number of limitations under POPIA and we encourage you to familiarise yourself with these before making a request above.
</p>
<h3>How long we keep your personal information</h3>
<p>The amount of time which Co_Mute keeps your personal information will vary depending on the purpose for which the personal information was processed, whether you have requested deletion or amendment of your personal information and whether we are legally obliged to keep certain personal information for a set period of time. That said, Co_Mute will not keep your personal information for longer than is necessary to fulfill the original purpose for which it was collected.
</p><p>
    <h6>When you make use of our Website, you accept the terms of this Privacy Policy.</h6>
</p>
<h3>Changes to our Privacy Policy</h3>
<p>Co_Mute may from time to time change this Privacy Policy or parts thereof and reserves the right to do so. These changes will become effective once they are posted to our Website, and although we endeavor to provide you with timely updates on changes to our Privacy Policy, it remains your responsibility to check this page from time to time for changes to our Privacy Policy.
</p><p>We may use personal information collected about you to contact you by telephone, email, or another form of electronic communication about changes to our Privacy Policy and other policies that may affect you.
</p>
<h3>We encourage you to read up about your rights under POPIA</h3>
<p>As we’ve mentioned, we take your rights under POPIA very seriously, and this Privacy Policy is just one example of our efforts to make you aware of your rights and show you how we protect your personal information. While we have done our best to explain the relevant provisions of POPIA to you as comprehensively and transparently as possible, a detailed discussion of the nuances of each right afforded to you under POPIA is outside the scope of this Privacy Policy and we encourage you to familiarise yourself with your rights as a data subject under POPIA.
</p>
<h3>Contact details</h3>
<p>Should you wish to request further information from us in relation to this Privacy Policy, or if you would like to get in contact with us for any other reason, please use the contact details below.
</p>
<p><b>Telephone: +27 (0)79 821 9401</b></p>
<p><b>E-mail:info@smarte.com</b></p>
<p></p>
<h6>In addition, the following forms may be of assistance to you:</h6>

<p><b>FORM 1 OBJECTION TO THE PROCESSING OF PERSONAL INFORMATION IN TERMS OF SECTION 11 (3) OF THE PROTECTION OF PERSONAL INFORMATION ACT, 2013 (ACT NO. 4 OF 2013)</b><br>
    <b>FORM 2 REQUESTS FOR CORRECTION OR DELETION OF PERSONAL INFORMATION OR DESTROYING OR DELETION OF RECORD OF PERSONAL INFORMATION IN TERMS OF SECTION 24 (1) OF THE PROTECTION OF PERSONAL INFORMATION ACT, 2013
</b></p>