@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/Account.css">
</head>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p style="color:white">@ViewBag.token </p>
</div>
