
@{
    ViewBag.Title = "Profile";
}

<form id="profile">
    <h2>Profile</h2>

    <div id="error" class="row row-margin hidden">
        <div class="col-md-4 col-md-offset-4 alert alert-danger">
            <p></p>
        </div>
    </div>
    <input type="hidden"  id="userId" />
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control" placeholder="First name" required autofocus>
    </div>

    <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text" id="surname" class="form-control" placeholder="Surname" required>
    </div>

    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" id="phone" class="form-control" placeholder="Phone number" required>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" placeholder="Email address" required>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit" id="sign-in">Update</button>
    </div>
</form>

@section scripts {
    <script type="text/javascript" src="~/Content/js/profile.js"></script>
}

