{% extends 'base.html' %}

{% block main_content %}



<div class="container" align="center">
    <div class="row row-cols-1 row-cols-md-3 g-4">

        {% for carpool in data %}

        <div class="col">
            <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header"># {{ carpool[0] }}</div>
                <div class="card-body">
                    <p class="card-title">Date Created : {{ carpool[10] }}</p>
                    <p class="card-title">Departure Time : {{ carpool[1] }}</p>
                    <p class="card-title">Arrival Time : {{ carpool[2] }}</p>
                    <p class="card-title">Origin : {{ carpool[3] }}</p>
                    <p class="card-title">Destination : {{ carpool[5] }}</p>
                    <p class="card-title">Days Available : {{ carpool[4] }}</p>
                    <p class="card-title">Available Seats : {{ carpool[6] }}</p>
                    <p class="card-title">Owner : {{ carpool[9] }}</p>
                    <p class="card-title">Notes : {{ carpool[8] }}</p>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</div>
{% endblock %}