
@{
    ViewBag.Title = "Create Car Pool";
}

<form id="createCarPool">
    <h2>Create Car Pool</h2>

    <div id="error" class="row row-margin hidden">
        <div class="col-md-4 col-md-offset-4 alert alert-danger">
            <p></p>
        </div>
    </div>
    <div class="form-group">
        <label for="origin">Origin</label>
        <input type="text" id="origin" class="form-control" placeholder="Origin" required autofocus>
    </div>


    <div class="form-group">
        <label for="departureTime">Departure Time</label>
        <input type="time" id="departureTime" class="form-control" required >
    </div>
    <div class="form-group">
        <label for="arivalTime">Expected Arival Time</label>
        <input type="time" id="arivalTime" class="form-control" required >
    </div>

    <div class="form-group">
        <label for="destination">Destination</label>
        <input type="text" id="destination" class="form-control" placeholder="Destination" required>
    </div>

    <div class="form-group">
        <label for="seats">Available Seats</label>
        <input type="number" id="seats" value="1" class="form-control" required>
    </div>
    
    <div class="form-group">
        <label for="days_available">Days Available</label>
        <input type="number" id="days_available" value="1" class="form-control" required>
    </div>
    
    <div class="form-group">
        <label for="notes">Notes</label>
        <textarea id="notes" placeholder="Notes here ..." class="form-control"></textarea>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit" id="sign-in">Create</button>
    </div>
</form>

@section scripts {
    <script type="text/javascript" src="~/Content/js/CreateCarPool.js"></script>
}